body {
  height: 100%;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid lightslategray;
  border-radius: 10px;
}
h1 {
  color: darkgrey;
  padding: 10px 10px 10px;
}
.form-group {
  padding: 10px 10px 10px;
  width: 40%;
}
.btn-success {
  padding: 10px 10px 10px 10px;
}
.all-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
#new-temp {
  font-size: 28px;
  font-weight: bold;
}
